/data/
/log/
/log_Contrast/baseline_Cifar100-LT_resnet32_batchsize_256_epochs_200_temp_0.1_cutmix_prob_0.5_topk_30_scaling_factor_20_255_tau_1.0_lr_0.15_uncutout-sim/ConCutMix_ckpt.best_acc1.pth.tar
/log_Contrast/baseline_Cifar100-LT_resnet32_batchsize_256_epochs_200_temp_0.1_cutmix_prob_0.5_topk_30_scaling_factor_20_255_tau_1.0_lr_0.15_uncutout-sim/ConCutMix_ckpt.best_scl.pth.tar
/log_Contrast/baseline_Cifar100-LT_resnet32_batchsize_256_epochs_200_temp_0.1_cutmix_prob_0.5_topk_30_scaling_factor_20_255_tau_1.0_lr_0.15_uncutout-sim/ConCutMix_ckpt.pth.tar
/log_Contrast/baseline_Cifar100-LT_resnet32_batchsize_256_epochs_200_temp_0.1_cutmix_prob_0.5_topk_30_scaling_factor_20_255_tau_1.0_lr_0.15_uncutout-sim/log.txt
/log_Contrast/baseline_Cifar100_resnet32_batchsize_256_epochs_200_temp_0.1_cutmix_prob_0.5_topk_30_scaling_factor_20_255_tau_1.0_lr_0.15_uncutout-sim/ConCutMix_ckpt.best_acc1.pth.tar
/log_Contrast/baseline_Cifar100_resnet32_batchsize_256_epochs_200_temp_0.1_cutmix_prob_0.5_topk_30_scaling_factor_20_255_tau_1.0_lr_0.15_uncutout-sim/ConCutMix_ckpt.best_scl.pth.tar
/log_Contrast/baseline_Cifar100_resnet32_batchsize_256_epochs_200_temp_0.1_cutmix_prob_0.5_topk_30_scaling_factor_20_255_tau_1.0_lr_0.15_uncutout-sim/ConCutMix_ckpt.pth.tar
/log_Contrast/baseline_Cifar100_resnet32_batchsize_256_epochs_200_temp_0.1_cutmix_prob_0.5_topk_30_scaling_factor_20_255_tau_1.0_lr_0.15_uncutout-sim/log.txt
/log_Contrast/baseline_ImageNet100-LT_resnet50_batchsize_256_epochs_100_temp_0.07_cutmix_prob_0.5_topk_30_scaling_factor_200_255_tau_0.99_lr_0.1_sim-sim/ConCutMix_ckpt.best_acc1.pth.tar
/log_Contrast/baseline_ImageNet100-LT_resnet50_batchsize_256_epochs_100_temp_0.07_cutmix_prob_0.5_topk_30_scaling_factor_200_255_tau_0.99_lr_0.1_sim-sim/ConCutMix_ckpt.best_scl.pth.tar
/log_Contrast/baseline_ImageNet100-LT_resnet50_batchsize_256_epochs_100_temp_0.07_cutmix_prob_0.5_topk_30_scaling_factor_200_255_tau_0.99_lr_0.1_sim-sim/ConCutMix_ckpt.pth.tar
/log_Contrast/baseline_ImageNet100-LT_resnet50_batchsize_256_epochs_100_temp_0.07_cutmix_prob_0.5_topk_30_scaling_factor_200_255_tau_0.99_lr_0.1_sim-sim/log.txt
/log_Contrast/baseline_ImageNet100_resnet50_batchsize_256_epochs_100_temp_0.07_cutmix_prob_0.5_topk_30_scaling_factor_200_255_tau_0.99_lr_0.1_sim-sim/ConCutMix_ckpt.best_acc1.pth.tar
/log_Contrast/baseline_ImageNet100_resnet50_batchsize_256_epochs_100_temp_0.07_cutmix_prob_0.5_topk_30_scaling_factor_200_255_tau_0.99_lr_0.1_sim-sim/ConCutMix_ckpt.best_scl.pth.tar
/log_Contrast/baseline_ImageNet100_resnet50_batchsize_256_epochs_100_temp_0.07_cutmix_prob_0.5_topk_30_scaling_factor_200_255_tau_0.99_lr_0.1_sim-sim/ConCutMix_ckpt.pth.tar
/log_Contrast/baseline_ImageNet100_resnet50_batchsize_256_epochs_100_temp_0.07_cutmix_prob_0.5_topk_30_scaling_factor_200_255_tau_0.99_lr_0.1_sim-sim/log.txt
